<div class="card w-50 m-auto p-3">
  <h4>Exercício 02 e 03</h4>
  <div>
    <ul class="list">
      <li *ngFor="let item of listItems" [ngStyle]="{'background': item.concluida && 'yellow'}">
        <p>{{ item.nome }}</p>
        <div>
          <button class="button-icon" (click)="concluirItem(item.id)">
            <mat-icon>done</mat-icon>
          </button>
          <button class="button-icon" (click)="removerItem(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </li>
    </ul>
    <input id="nome" type="text" placeholder="Nome: " maxlength="100" [(ngModel)]="addNome">
    <button (click)="adicionarItem()">Adicionar</button>
  </div>
</div>